<div class="container-round">
    <div class="box">
       <button class="button-close2" (click)="close()"><ion-icon name="close"></ion-icon></button>
        <div (click)="compartilhar(conteudo,'whatsapp')" class="icon-social">
            <img src="assets/imgs/social/whatsapp.jpg" alt="" width="40">
        </div>
        <div (click)="compartilhar(conteudo,'facebook')" class="icon-social">
            <img src="assets/imgs/social/facebook.jpg" alt="" width="40">
        </div>
        <div (click)="compartilhar(conteudo,'twitter')" class="icon-social">
            <img src="assets/imgs/social/twitter.jpg" alt="" width="40">
        </div>
        <div (click)="compartilhar(conteudo,'instagram')" class="icon-social">
            <img src="assets/imgs/social/instagram.jpg" alt="" width="40">
        </div>
    </div>
</div>