<ion-content>
  <div padding>
    <header class="login-header" text-center>
        <img src="http://via.placeholder.com/100x90" class="brand">
        <h3 class="title-blue">Cadastre-se</h3>
    </header>
    <div class="container-stage disabled">
      <div class="number">1</div>
      <div class="text">
        <strong>Preencha seus dados iniciais:</strong>
        <p>*Todos os dados devem ser preenchidos</p>
      </div>
    </div>
    <div class="container-stage">
      <div class="number">2</div>
      <div class="text">
        <strong>Selecione seu tipo de perfil:</strong>
        <p>De acordo com o perfil iremos selecionar a melhor maneira de passar informações.</p>
      </div>
    </div>
    <ul class="card-options">
        <li class="select">
          <ion-icon name="arrow-dropright-circle"></ion-icon>
          <strong>Quero receber informações do projeto, mas não sei se vou participar.</strong>
        </li>
        <li>
          <ion-icon name="arrow-dropright-circle"></ion-icon>
          <strong>Estou convencido e quero participar!</strong>
        </li>
        <li>
          <ion-icon name="arrow-dropright-circle"></ion-icon>
          <strong>Vou participar e serei voluntário</strong>
        </li>
        <li>
          <ion-icon name="arrow-dropright-circle"></ion-icon>
          <strong>Quero ser voluntário e me filiar ao partido</strong>
        </li>
    </ul>
    <button ion-button full text-uppercase>Enviar</button>
  </div>
  
</ion-content>
<ion-footer>
  <ion-toolbar (click)="goPage('cadastro')" text-center>
    Ou, volta na <strong>etapa anterior</strong>
  </ion-toolbar>
</ion-footer>


