<ion-content>
  <header class="login-header background" text-center>
    <img src="assets/imgs/logo.png" class="brand">
      <h3 class="title-blue">Cadastro</h3>
  </header>
  <div padding>
    <div class="block-text" text-center>
      <p>Preencha os dados abaixo. <br/> É bem simples e rápido!</p>
    </div>
    <div class="container-stage">
      <div class="text">
        <strong>Preencha seus dados iniciais:</strong>
        <p>*Todos os dados devem ser preenchidos</p>
      </div>
    </div>
    <form autocomplete="off" #loginform="ngForm">
    <ion-list>
      <ion-item class="input-block-color">
        <ion-input type="text" placeholder="Nome" [(ngModel)]="form.Nome" name="Nome"></ion-input>
      </ion-item>

      <ion-item class="input-block-color">
        <ion-input type="email" placeholder="E-mail" [(ngModel)]="form.Email" name="Email"></ion-input>
      </ion-item>

      <ion-item class="input-block-color">

        <!-- <ion-input placeholder="Telefone"  [textMask]="{mask: maskcel}" type="tel" [(ngModel)]="form.Numero" name="Numero"></ion-input>  -->
        <ion-input placeholder="Telefone"  [brmasker]="{phone: true}" type="tel" [(ngModel)]="form.Numero" name="Numero"></ion-input> 

      </ion-item>

      <ion-item class="input-block-color" style="  margin-bottom: 0!important;    border-radius: 10px 10px 0px 0px;">
        <ion-input type="password" placeholder="Senha" [(ngModel)]="form.Senha" name="Senha"></ion-input>
      </ion-item>

      <ion-item class="input-block-color" style="  border-radius: 0px 0px 10px 10px;border-top: 0.55px solid #c8c7cc;    border-bottom: 0;">
        <ion-input type="password" placeholder="Confirmar senha" [(ngModel)]="form.ConfirmarSenha" name="ConfirmarSenha"> </ion-input>
      </ion-item>

      <!-- <ion-item margin-top class="checkbox" style="background-color: transparent;border-bottom:none">
        <ion-label><strong>Li</strong> e <strong>aceito</strong> os termos de uso</ion-label>
        <ion-checkbox checked="true" [(ngModel)]="model.CheckTermo" name="CheckTermo"></ion-checkbox>
      </ion-item> -->

    </ion-list>
    <button ion-button full text-uppercase (click)="onRegister()" >Enviar</button>
  </form>
    <button ion-button outline full text-uppercase margin-top>
      <img class="ico-general-button" src="assets/imgs/ico-facebook-blue.png" width="11" height="19"> Logar pelo Facebook
    </button>
  </div>

</ion-content>
<ion-footer>
  <ion-toolbar (click)="goPage('login')" text-center style="color:#fff">
    Voltar a tela de <strong> Login</strong>
  </ion-toolbar>
</ion-footer>


