page-login {
    .padding-fixed {
        padding-bottom: 4.5rem;
    }
    .login-header {
        margin-bottom: 35px;
        .brand {
            margin: 30px 0;
        }
    }
    .title-white {
        margin: 2px 0;
    }
    .button-full.button-outline {
        margin-top: 15px;
        margin-bottom: 15px;
        .button-inner {
            strong {
                margin-left: 5px;
            }
        }
    }
    .button-md-light {
        color: color($colors, primary);
        margin-top: 35px;
    }
    .scroll-content {
        background: url(../assets/imgs/bg-login.png) no-repeat center top color($colors, primary);
        background-size: cover;
        color: white;
        .title-yellow {
            margin: 10px 0;
        }
        .block-text {
            p {
                margin-top: 0;
            }
        }
        .link {
            padding: 10px 0;
            color: #fff;
            font-weight: bold;
        }
        .button-fixed, .button-bottom {
            background: #0a4780;
        }
    }
}


