<ion-header color="header">
  
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title text-center>Seja um Voluntário</ion-title>
    <ion-buttons end>
      <!-- <button  class="search-header">
      <ion-icon name="search"></ion-icon>
    </button> -->
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content padding>
    <ion-refresher (ionRefresh)="doRefresh($event)">
        <ion-refresher-content></ion-refresher-content>
      </ion-refresher>
  <ion-list margin-top>
    <ion-card (click)="openDetail('voluntario-detalhe', v.Id)" *ngFor="let v of listSejaVoluntario">
      <ion-card-content>
        <div>
          <ion-card-title>{{v.Titulo}}</ion-card-title>
          <p>{{v.Chamada}}</p>
        </div>
      </ion-card-content>
    </ion-card>
  </ion-list>
</ion-content>
