<ion-header color="header">
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title text-center>Conheça o MDB</ion-title>
    <ion-buttons end>
    <button  class="search-header">
      <ion-icon name="search"></ion-icon>
    </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>


<ion-content padding>
  <ion-list>
    <ion-item *ngFor="let l of anosList" >
      <div class="headerR">
      <ion-avatar item-start>
        <img src="{{l.Imagem}}" *ngIf="l.Imagem!=undefined">
        <img src="assets/imgs/logomdb.png" *ngIf="l.Imagem==undefined">
      </ion-avatar>
      <div class="blocktext">
        <h2>{{l.Titulo}}</h2>
        <p>{{l.Chamada}}</p>
      </div>
      </div>
      <!-- <p>I've had a pretty messed up day. If we just...</p> -->
      <div class="infosOthers" *ngIf="l.Texto!=null">
        <p [innerHTML]="l.Texto"></p>
      </div>
    </ion-item>
  </ion-list>
</ion-content>
