modal-sucesso {
    background: rgba(0, 0, 0, 0.7);
    padding: 25px;
    box-sizing: border-box;
    .container-round {
        font-family: "QuickSand";
        border-radius: 10px;
        padding: 25px;
        display: flex;
        flex-direction: column;
        box-sizing: border-box;
        position: absolute;
        top: 30%;
        text-align: center;
        color: #014f99;
        .box {
            background: #ffffff;
            border-radius: 10px;
            padding: 25px;
            box-sizing: border-box;
         .check{
            font-size: 4em;
             font-weight: bold;
            padding-bottom: 5%;
          }
          .text{
            font-weight: bold
          }

          .btnOk{
            background-color: #014f99;
            width: 100%;
            border-radius: 5px;
            height: 30px;
            color: white;
            margin-top: 10%;
          }
          .btnClose{
            width: 30px;
            height: 30px;
            position: absolute;
            right: 30px;
            top: 30px;
            background-color: white;
            color: #999999;
            ion-icon{
             font-weight: bold;
            }
          }
        }
    }
}