<ion-header color="header">
  <ion-navbar>
    <ion-title text-center>Eleiçoes 2018</ion-title>
    <ion-buttons end>
      <button  class="search-header">
      <i class="fa fa-search" aria-hidden="true"></i>
    </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <div class="headerClass">
    <h2>
      {{interna.Titulo}}
    </h2>
    <div class="date">
      <p>{{interna.diaFormatado}}<br>{{interna.mesFormatado}}</p>
    </div>
  </div>
  <div [innerHTML]="interna.Texto"></div>
</ion-content>