<div class="container-round" text-center>
    <button class="button-close" (click)="close()"><ion-icon name="close"></ion-icon></button>
    <header>
      <strong text-uppercase>Pesquisa de Opinião</strong>
    </header>
    <div class="box">
      <small class="blue-color" text-uppercase>Tema</small>
      <h4 class="bold">{{pesquisaDetail.Tema}}</h4>
      <div class="block-text">
        <p>{{pesquisaDetail.Pergunta}}</p>
      </div>
      <div class="options-modal" >
        <button class="negative" (click)="answerQuestion(pesquisaDetail.negative.Id)">
          <div class="ico">
              <ion-icon name="close"></ion-icon>
          </div>
          <small text-uppercase>{{pesquisaDetail.negative.Resposta}}</small>
        </button>
        <button class="agree" (click)="answerQuestion(pesquisaDetail.agree.Id)">
          <div class="ico">
              <ion-icon name="checkmark"></ion-icon>
          </div>
          <small text-uppercase>{{pesquisaDetail.agree.Resposta}}</small>
        </button>
      </div>
    </div>
</div>

