<ion-header color="header">
  <ion-navbar>
   
    <button ion-button menuToggle>
      <i class="fa fa-bars" aria-hidden="true"></i>
    </button>
    <ion-title text-center>Pesquisa de Opinião</ion-title>
    <ion-buttons end>
      <button  class="search-header">
      <ion-icon name="search"></ion-icon>
    </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>


<ion-content padding>
    <ion-refresher (ionRefresh)="doRefresh($event)">
        <ion-refresher-content></ion-refresher-content>
      </ion-refresher>
  <ion-list margin-top>
    <ion-card (click)="presentProfileModal(p.Pesquisa)" *ngFor="let p of listaPesquisa">
      <ion-card-content class="flex-card">
        <div>
          <!-- <small class="blue-color" text-uppercase>{{p.Pesquisa.Tema}}</small> -->
          <span class="spanCategoria">{{p.Pesquisa.Tema}}</span>
          <ion-card-title>{{p.Pesquisa.Pergunta}}</ion-card-title>
        </div>
        <ion-icon class="set" name="ios-arrow-forward"></ion-icon>
      </ion-card-content>
    </ion-card>
    </ion-list>
    <div class="NoContentmsg" *ngIf="NadaEncontrado">
      <!-- <img src="" alt=""> -->
      <i class="fa fa-frown-o" aria-hidden="true"></i>
      <p>Nenhuma pesquisa encontrada</p>
    </div>
  <ion-infinite-scroll (ionInfinite)="doInfinite($event)">
    <ion-infinite-scroll-content></ion-infinite-scroll-content>
  </ion-infinite-scroll>
</ion-content>

