page-pesquisa {
    section, .scroll-content{
        background: #fafafa!important;
    }
    .spanCategoria {
        color: #fff;
        font-weight: bold;
        font-size: 1.3rem;
        text-transform: uppercase;
        background: #175899;
        border-radius: 5px;
        padding: 1% 10px;
    }
    ion-card{
        padding: 3% 0;
        margin: 0px 0 3%!important;
        ion-card-title{
            color: #175899!important;
            font-size: 1.7rem!important;
            margin-top: 3%!important;
        }
    }
    .flex-card .set {
        font-size: 2.5rem;
        color: #666666;
        margin-left: 10px;
    }
}

modal-pesquisa {
    background: rgba(0, 0, 0, 0.7);
    padding: 25px;
    box-sizing: border-box;
    .container-round {
        background: #ececec;
        border-radius: 10px;
        padding: 25px;
        height: 100%;
        display: flex;
        flex-direction: column;
        box-sizing: border-box;
        .box {
            background: #ffffff;
            border-radius: 10px;
            padding: 25px;
            box-sizing: border-box;
            .bold {
                margin: 2px 0;
            }
            .options-modal {
                display: flex;
                justify-content: center;
                font-weight: bold;
                button {
                    background: transparent;
                    .ico {
                        width: 60px;
                        height: 60px;
                        background: #339966;
                        border-radius: 100%;
                        display: block;
                        color: #fff;
                        font-size: 30px;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        content: '';
                        margin: 10px auto;
                    }
                    &.negative {
                        .ico {
                            background: #cc6666;
                        }
                    }
                }
            }
        }
    }
}
