<ion-content >
    <ion-slides pager (ionSlideDidChange)="slideChanged()">

      <ion-slide style="background: url(assets/imgs/bgTutorial1.png) no-repeat top; background-size: cover!important;">
        <img src="./assets/imgs/tutorial1.png" class="ico">
        <h2 ><strong>Apoie</strong> seu candidato do MDB <span style="opacity: 0;">e o que é permitido</span>
        </h2>

        <footer class="footer">
          <button class="bt-skip" (click)="goState()">Pular</button>
          <i class="fa fa-arrow-right" aria-hidden="true" [hidden]="hiddenNext" (click)="goToSlide()"></i>
        </footer>
      </ion-slide>

      <ion-slide  style="background: url(assets/imgs/bgTutorial2.png) no-repeat top; background-size: cover!important;">
        <img src="./assets/imgs/tutorial2.png" class="ico">
        <h2><strong>Conheça todos os prazos</strong> e o que é permitido nesta eleição</h2>

        <footer class="footer">
          <button class="bt-skip" (click)="goState()">Pular</button>
          <i class="fa fa-arrow-right" aria-hidden="true" [hidden]="hiddenNext" (click)="goToSlide()"></i>
        </footer>
      </ion-slide>

      <ion-slide  style="background: url(assets/imgs/bgTutorial3.png) no-repeat top; background-size: cover!important;">
        <img src="./assets/imgs/tutorial3.png" class="ico">
        <h2><strong>Informações sobre o MDB</strong> e os dois anos de nosso governo</h2>
        

        <footer class="footer flexend">
          <i class="fa fa-arrow-right" aria-hidden="true" (click)="goState()"></i>
        </footer>
      </ion-slide>


    </ion-slides>
</ion-content>
