page-participacao-participacao-detalhe {
    .list-pictures {
        padding: 0;
        display: flex;
        flex-wrap: wrap;
        li {
            padding: 0;
            width: 32%;
            margin-right: 1.7%;
            margin-bottom: 1.7%;
            list-style: none;
            img {
                width: 100%;
                border-radius: 5px;
                height: 80px;
                object-fit: cover;
            }
            &:nth-child(3n) {
                margin-right: 0;
            }
        }
    }
}
