<ion-header color="header">
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title text-center>Minha Participação</ion-title>
    <ion-buttons end>
      <!-- <button  class="search-header">
      <ion-icon name="search"></ion-icon>
    </button> -->
    </ion-buttons>
  </ion-navbar>
</ion-header>


<ion-content padding>
    <ion-refresher (ionRefresh)="doRefresh($event)">
        <ion-refresher-content></ion-refresher-content>
      </ion-refresher>
  <h4 class="bold">Colabore com a mudança do Brasil</h4>
  <div class="block-text">
    <p>Mostre suas ideias e os problemas que acontecem em sua cidade.</p>
  </div>

  <button ion-button full text-uppercase (click)="openDetail('form-participacao', 1)">Enviar Participação</button>

  <div class="block" margin-top>
    <h6 class="bold">Minhas Contribuições</h6>
    <ion-list>
      <ion-card (click)="openDetail('participacao-detalhe', 1)">
        <ion-card-content class="flex-card">
          <div>
            <small text-uppercase class="blue-color">Segurança</small>
            <ion-card-title>Rio de Janeiro - RJ</ion-card-title>
            <ion-note>10 de Janeiro de 2018</ion-note>
          </div>
          <ion-icon class="set" name="ios-arrow-forward"></ion-icon>
        </ion-card-content>
      </ion-card>
      <ion-card (click)="openDetail('participacao-detalhe', 1)">
        <ion-card-content class="flex-card">
          <div>
            <small text-uppercase class="blue-color">Transporte Público</small>
            <ion-card-title>São Paulo - SP</ion-card-title>
            <ion-note>12 de fevereiro de 2018</ion-note>
          </div>
          <ion-icon class="set" name="ios-arrow-forward"></ion-icon>
        </ion-card-content>
      </ion-card>
      <ion-card (click)="openDetail('participacao-detalhe', 1)">
        <ion-card-content class="flex-card">
          <div>
            <small text-uppercase class="blue-color">Ordem Pública</small>
            <ion-card-title>Belo Horizonte - MG</ion-card-title>
            <ion-note>15 de março de 2018</ion-note>
          </div>
          <ion-icon class="set" name="ios-arrow-forward"></ion-icon>
        </ion-card-content>
      </ion-card>
      <ion-card (click)="openDetail('participacao-detalhe', 1)">
        <ion-card-content class="flex-card">
          <div>
            <small text-uppercase class="blue-color">Outros</small>
            <ion-card-title>Brasília - SF</ion-card-title>
            <ion-note>09 de abril de 2018</ion-note>
          </div>
          <ion-icon class="set" name="ios-arrow-forward"></ion-icon>
        </ion-card-content>
      </ion-card>
    </ion-list>
  </div>
</ion-content>
