page-list-programa {
    h2{
        font-family: "QuickSand";
        font-weight: 500;
        color: #333333;
        text-align: center;
        font-size: 2.2rem;
        margin-top: 5%!important;
        margin-bottom: 0!important; 
    }
    section, .scroll-content{
        background: #fafafa!important;
    }
    .list-md .item-block .item-inner{
        border: 0;
    }
    .item-md{
        padding: 3% 6% !important;
    }
    ion-list{
        margin: 10% 0%!important;
        ion-item{
            background: #ffffff!important;
            padding: 3% 6% !important;
            border-radius: 10px!important;
            margin-bottom: 5%!important;
            ion-avatar{
                min-width:35px!important;
                border: 0 solid #ccc;
                border-radius: 0%;
                min-height: 35px!important;
                img{
                    min-width: 35px!important;
                    border-radius: 0%!important;
                    min-height: 35px!important;
                    width: 35px!important;
                    height: 35px!important;
                }
            }
            h2{
                font-family: $font;
                text-align: left;
                color: #333333!important;
                margin-top: 0!important;
                font-size: 2.0rem!important;
                font-weight: bold!important;
            }
            ion-icon{
                position: absolute;
                right: 7%;
                top: 34%;
                font-size: 2.2em;
            }
        }
    }
}
