page-pesquisa-pesquisa-resposta {
    section, .scroll-content{
        background: #fafafa!important;
    }
    ion-card-title{
        font-size: 2.0rem!important;
        color: #333333!important;
    }
    .box-graph {
        display: flex;
        justify-content: space-around;
        .bar {
            height: 180px;
            width: 25px;
            margin: 10px auto;
            position: relative;
            .progress {
                position: absolute;
                bottom: 0;
                left: 0;
                width: attr(data-pct);
                background: rgb(218, 218, 218);
                width: 100%;
                content: '';
                transition: all 0.4s ease;
            }
        }
        .box {
            color: #5f5f5f!important;
            &.negative {
                .bar {
                    .progress {
                        background: #cc6666;
                    }
                }
            }
            &.agree {
                .bar {
                    .progress {
                        background: #99ccb2;
                    }
                }
            }
        }
    }
}
