<ion-header color="header">
  <ion-navbar>
    <button ion-button menuToggle>
      <i class="fa fa-bars" aria-hidden="true"></i>
    </button>
    <ion-title text-center>Pesquisa de Opinião</ion-title>
    <ion-buttons end>
    <button  class="search-header">
      <ion-icon name="search"></ion-icon>
    </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <ion-card>
    <ion-card-content text-center>
      <small class="blue-color" text-uppercase *ngIf="pesquisaDetail.ExibirGrafico">Tema:</small>
      <ion-card-title *ngIf="pesquisaDetail.ExibirGrafico">Segurança Pública</ion-card-title>
      <div class="block-text" *ngIf="pesquisaDetail.ExibirGrafico">
        <p>Você é a favor ou contra o porte de armas para toda a população?</p>
      </div>
      <div class="box-graph" >
          <div class="box agree">
            <div class="bar">
              <div class="progress" [style.height.%]="pesquisaDetail.agreePercent"></div>
            </div>
            <small text-uppercase>{{pesquisaDetail.agreeText}}</small>
            <p>{{pesquisaDetail.agreePercent}}%</p>
          </div>
          <div class="box negative">
            <div class="bar">
              <div class="progress"  [style.height.%]="pesquisaDetail.negativePercent"></div>
            </div>
            <small text-uppercase>{{pesquisaDetail.negativeText}}</small>
            <p>{{pesquisaDetail.negativePercent}}%</p>
          </div>
      </div>
    </ion-card-content>
  </ion-card>
</ion-content>
