page-programa-governo {
    background: rgba(0, 0, 0, 0.7);
    padding: 25px;
    box-sizing: border-box;
}

convide-amigos {
    background: rgba(0, 0, 0, 0.7);
    padding: 25px;
    box-sizing: border-box;
    .container-round {
        background: #ffffff;
        border-radius: 10px;
        padding: 25px;
        height: 100%;
        display: flex;
        flex-direction: column;
        box-sizing: border-box;
        h2 {
            font-weight: bold;
        }
        ion-list {
            overflow: auto;
        }
    }
    ion-avatar {
        position: relative;
        ion-icon {
            position: absolute;
            right: -2%;
            bottom: 0;
        }
    }
}

